.transform2d {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.transform2d:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.transform3d {
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
}

.transform3d:hover {

    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
}

.animationWt {
    width: 20%;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    margin-bottom: 210px;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0;
        top: 0;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0;
        top: 0;
    }
}


.formframe {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 700px;
    margin: auto;
}



button {
    background-color: cornflowerblue; /* modre */
    transition-duration: 0.4s;  /* trvanie zmeny farby na hover */
    border: none;   /* bez okrajov */
    border-radius: 5px; /* neostry okraj */
    color: white;/* pismo */
    font-size: large;/* pismo */
    padding: 9px;/* vnutorne oddelenie */
    text-align: center;/* zarovnanie textu */
    display: inline-block;/* inline-vedla seba block-vlasntne rozmery */
}

button:hover {
    background-color: #4CAF50; /* Green */
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;/*vypocitanie velkosti border-box - presne sadne do parenta*/
}
.formlabel{
    font-size: 28px;
    text-align: center;
}

input[type=email], input[type=file] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;

}


label {
    font-size: large;
    padding: 12px 12px 12px 0;
    display: inline-block;/* inline-vedla seba block-vlasntne rozmery */
}





